* {
  font-family: 'Piazzolla', serif;
}


.infofooter {
  text-align: center;
  color: white;
  text-decoration: none;
}

.maintextbody{
  color: white;

}
.mainbody {
  text-align: center;
  background-color: BLACK
}

a:link, a:visited {
  background-color: white;
  border-radius: 50px;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


a:hover, a:active {
  background-color: #d9d9d9;
}
