

.main {
  background-color: #white
  margin-left: auto;
  margin-right: auto;
}

.toptext {
  font-family: 'Lora';
  position: relative;
  top: 60px;
  font-weight: bold;
  font-size: 30px;
  line-height: normal;
  text-align: center;
  color: #black;
  display: block;
  background-color: #white

}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  position: relative;
  top: 50px;
}

.rcorner, a.top:link, a.top:visited {
  position: absolute;
  top:15px;
  right:30px;
  color: orange;
  text-decoration: none;
}

.mid {
  text-align: center;
}


.body {
text-align: center;

}

.btn-group {
  margin-left: auto;
  margin-right: auto;
}

.btn-group button {
  background-color: #0A0A0A;
  color: white;
  padding: 14px 25px;
  border-radius: 100px;
  outline: none;
  text-align: center;
  height: 55px;
  width: 175px;
  font-family: 'Lora', serif;


}

.btn-group button:hover {
  background-color: #1E2024;
}

input, button, submit { border:none; }
